form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .type, .description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    label {
        font-size: 1rem;
        font-weight: bold;
    }

    textarea {
        font-size: 1rem;     
    }

    

}

