.card {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-radius: 0.5rem;
    gap: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    .imageWrapper {
        display: flex;
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 120px;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .favorite {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            z-index: 1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 1rem;
        margin-bottom: 1rem;
        
        h2, p {
            text-align: left;
            margin: 0;
        }

        h2 {
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
        }

        .lineTime {
            display: flex;
            gap: 1rem;
            margin-bottom: 1.5rem;

            .line {

                span {
                    background-color: rgba(112, 108, 120, 0.25);
                    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
                    border-radius: 0.25rem;
                    display: inline-block;
                }
            
            }

            .time {
                background-color: var(--light-blue-20);
                padding: 0.25rem 0.75rem 0.25rem 0.75rem;
                border-radius: 0.25rem;
                display: inline-block;
            }
        }

        

        .actions {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                text-decoration: none;
            }
        }
    }

}