.card {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-radius: 0.5rem;
    gap: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    .imageWrapper {
        display: flex;
        position: relative;

        img {
            width: 100%;
            height: auto;
            max-height: 120px;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .favorite {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            z-index: 1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 1rem;
        margin-bottom: 1rem;
        
        h2, p {
            text-align: left;
            margin: 0;
        }

        h2 {
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
        }

        p {
            margin-bottom: 1.5rem;
        }

        .actions {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                text-decoration: none;
            }
        }
    }

}