.containerHome {
    display: flex;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.buscador {
    margin-right: 2rem;
    margin-top: 7rem;
}