.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  color: var(--text-color);
  border: 3px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 
    color 0.5s,
    border-bottom 0.5s;

  &:hover,
  &:focus {
  color: var(--primary-color-hover);
  border-radius: 0;
  border-bottom: 3px solid var(--primary-color-hover);

}
}


.icon {
    display: flex;
    align-items: center;
}

